<style type="text/css">

.main{margin:5% auto;}
.b{border-style: ridge; border-color: #A9DBD1; border-width: thin; padding-top: 2vh;}

	input:focus {
		border: 1px solid grey !important;
	}

	.input1 {
		width: 120px !important;
		line-height: 30px !important;
		box-sizing: border-box !important;
		border: 2px solid #ccc !important;
		border-radius: 4px !important;
		font-size: 12px !important;
		-webkit-transition: width 0.4s ease-in-out !important;
		transition: width 0.4s ease-in-out !important;
	}

	.reading{
		border: 0px !important;
		width: 120px !important;
		line-height: 30px !important;
		box-sizing: border-box !important;
		text-align: center !important;
		font-size: 12px !important;
	}
	
	.reading:focus{
		border: 0px !important;
		width: 120px !important;
		line-height: 30px !important;
		box-sizing: border-box !important;
		text-align: center !important;
		font-size: 12px !important;
	}

	.input1:focus,
	.date1:focus {
		width: 120px !important;
		line-height: 30px !important;
		border: 2.5px solid #ccc !important;
		border-radius: 4px !important;

	}

	.date1 {
		width: 120px !important;
		line-height: 30px !important;
		font-size: 12px !important;
		border: 2px solid #ccc !important;
		border-radius: 4px !important;
		-webkit-transition: width 0.4s ease-in-out !important;
		transition: width 0.4s ease-in-out !important;
		background: #fff url(image/calendar_2.png) 97% 50% no-repeat !important;
	}

	.date1::-webkit-inner-spin-button {
		display: none;
	}

	.date1::-webkit-calendar-picker-indicator {
		opacity: 0;
	}
</style>

<div class="content-page">
	<!-- Start content -->
	<div class="content">
		<div class="container-fluid">
			<div class="row">
				<div class="col-12">
					<div class="page-title-box">
						<h4 class="page-title float-left"> QR Generation - GRN </h4>
						<div class="clearfix"></div>
					</div>
				</div>
			</div>
			<!-- end row -->

			<div class="row">
				<div class="col-12">
					<div class="page-title-box">
						<div class="row">
							<div class="col-md-12">
								<div class="card-box">

									<h4 class="m-t-0 header-title">Search By:</h4>

									<form>
										<div class="form-row">
											<div class="form-group col-sm-2 col-xs-3">
												<label class="col-form-label">Vendor Name<span> <i
															style="color:red">*</i></span></label>
											</div>
											<div class="form-group col-sm-3 col-xs-3">
												<select class="form-control f_left" style="height: 100%;"
													ng-model="vendor" ng-change="fetchMaterialDetails(vendor)">
													<option value="selectVendor">Select Vendor Name</option>
													<option ng-repeat="opts in vendorDetails | orderBy:'name'"
														value="{{opts}}">{{opts.name}} </option>
												</select>
											</div>
											<div class="col-sm-1 col-xs-1"></div>
											<div class="form-group col-sm-2 col-xs-3">
												<label class="col-form-label"> Material ID: <span> <i
															style="color:red">*</i></span></label>
											</div>
											<div class="col-sm-3 col-xs-3">
												<input name="itemList" type="text" placeholder="Enter Item Name"
													ng-model="materialObj" ng-disabled="vendor=='selectVendor'"
													typeahead-on-select="changeMaterialFun(materialObj)"
													uib-typeahead="item as item.id for item in materialDetails | filter:$viewValue | limitTo:8"
													typeahead-no-results="itemLists"
													class="form-control typeahead-demo">
											</div>
										</div>
									</form>

									<h4 class="m-t-0 header-title">Or:</h4>
									<form>
										<div class="form-row">
											<div class="form-group col-sm-2 col-xs-3">
												<label class="col-form-label" style="padding-top: 11px;"> PO Number: <span> <i
															style="color:red">*</i></span></label>
											</div>
											<div class="form-group col-sm-3 col-xs-3">
												<div class="col-form-label">
													<input type="number"
														onkeypress="return (event.charCode == 8 || event.charCode == 0) ? null : event.charCode >= 48 && event.charCode <= 57"
														ng-model="purchaseOrderNo" ng-change="resetVendor()"
														class="f_left form-control">
												</div>
											</div>
											<div class="col-sm-4 col-xs-4"></div>
											<div class="col-sm-3 col-xs-3">
												<button style="width: 65%;"
													class="btn btn-warning btn-rounded w-md waves-effect waves-light"
													ng-click="fetchTableData()"> Submit </button>
											</div>
										</div>

									</form>
								</div>
							</div>
						</div>

						<div class="clearfix"></div>
					</div>
				</div>
			</div>

			<div class="row" ng-show="showTable">
				<div class="col-12">
					<div class="page-title-box">
						<div class="row">
							<div class="col-sm-12 col-xs-12">
								<div class="card-box table-responsive">
									<table class="table table-bordered" datatable="ng"
										dt-column-defs="dtColumnDefs" dt-options="dtOptions">
										<thead>
											<tr class="customTable">
												<th> # </th>
												<th> GRN ID </th>
												<th> PO NO </th>
												<th> Item Id </th>
												<th> ITEM DETAILS </th>
												<th> VENDOR NAME </th>
												<th> GRN DATE </th>
												<th> SAP GRN No. </th>
												<th> SAP GRN Date </th>
												<th> Action </th>
												<th> QTY RECEIVED </th>
												<th> PACKAGES </th>
												<th> <input type="checkbox" ng-model="vm.selectAllChk"
														ng-click="selectAllTable()" style="margin-left:22%;"> </th>
												<th> PRINT QTY </th>
											</tr>
										</thead>
										<tbody>
											<tr ng-repeat="arr in allDetails track by $index">
												<td>{{$index + 1}}</td>
												<td> {{arr.grnNo}} </td>
												<td> {{arr.purchaseOrderNo}} </td>
												<td> {{arr.itemMstId}} </td>
												<td> {{arr.itemDtils}} </td>
												<td> {{arr.venName}} </td>
												<td>
													{{arr.grnEntryDate | date:'dd-MM-yyyy'}} </td>
												<!-- Manual Entries Start -->
												<td>
													<div>
														<input type="text"
														ng-class="arr.flag ? 'input1' : 'reading'"
														ng-model="arr.sapGrnNo"
														value='{{arr.sapGrnNo}}' />
													</div>
												</td>
												<td>
													<div>
														<input type="date"
														ng-class="arr.flag ? 'date1' : 'reading'"
														ng-model="arr.sapGrnDate"
														value='{{arr.sapGrnDate|date: "yyyy-MM-dd"}}' />
													</div>
												</td>

												<td>
													<div class="btn-group">
													<button class="btn btn-primary waves-effect waves-light" ng-hide="arr.flag"
														ng-click="modify($index)" style="margin-right: 2px"><i class="fa fa-edit"
															aria-hidden="true"></i></button>
													<button class="btn btn-success waves-effect waves-light" ng-show="arr.flag"
														ng-click="update($index, arr)" style="margin-right: 5px"><i class="fa fa-save"
															aria-hidden="true"></i></button>
													<button class="btn btn-danger waves-effect waves-light" ng-disabled="arr.isQrGenerated"
														ng-click="deleteGrn($index, arr)"><i class="fa fa-trash"
															aria-hidden="true"></i></button>
													</div>
												</td>
												<!-- Manual Entries Start -->
												<td> {{arr.itemTolRecd}} </td>
												<td> {{arr.boxQty}} </td>
												<td> <input type="checkbox"
														ng-checked="arr.printQty" ng-click="enablePrintQuantity(arr)">
												</td>
												<td> 
													<input type="number" id="print{{$index}}"
														ng-model="arr.printCopies"
														onkeypress="return (event.charCode == 8 || event.charCode == 0) ? null : event.charCode >= 48 && event.charCode <= 57"
														ng-disabled="!arr.printQty" style="height: 100%;"
														max="{{arr.boxQty}}" min="0"> 
												</td>

											</tr>
										</tbody>
									</table>
								</div>
								<div>
										<button class="btn btn-warning btn-rounded w-md waves-effect waves-light" style="float: right;" ng-disable="disableQrCodeButton" ng-click="makeCode()"> Generate Qr Code  </button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="row" ng-show="finalArr.length > 0">
					<div class="col-12">
						<div class="page-title-box">
							<div class="row">
								<div class="col-md-12">
									<div class="card-box">
	
										<h4 class="m-t-0 header-title">QR-Code:</h4>

										<div id="QR">
												<div class="b" ng-repeat="arr in finalArr track by $index" ng-hide='arr.copy'>
													<div class="main" style="border:1px solid #000;padding:5px;width:377px;font-family:arial;height:155px;page-break-after: always;">	
														<p style="font-size:14px;font-family:arial;text-align:left;font-weight:500;margin-bottom:2px;line-height:18px;margin-left:3%;padding-top:20px;">Jyoti CNC Automation Ltd.</p>
														<div style="width:58%;text-align: left;float:left;margin-right:1%;margin-top:6%;">
															<h3 title="{{arr.itemDtils}}" style="font-size: 13px;margin-top:0px;padding-left:10px;font-weight:600;width:100%;text-overflow: ellipsis;margin-top:-8%">{{arr.itemDtils}}</h3>
															<p title="{{arr.venName}}" style="font-size: 13px;position: relative;margin-top:0px;padding-left:10px;width:100%;text-overflow: ellipsis;margin-top:-2%">Vendor Name: {{arr.venName}}</p>
															<p title="{{arr.venName}}" style="font-size: 13px;position: relative;margin-top:0px;padding-left:10px;width:100%;text-overflow: ellipsis;margin-top:-4%">GRN: {{arr.grnNo}}</p>
															<p title="{{arr.itemTolRecd}}" style="font-size: 13px;position: relative;margin-top:0px;padding-left:10px;width:100%;text-overflow: ellipsis;margin-top:-6%;">Qty Received: {{arr.itemTolRecd}}</p>
															<p ng-hide="true" style="font-size: 13px;position: relative;margin-top:0px;padding-left:10px;width:100%;text-overflow: ellipsis;margin-top:-6%;">Boxes: {{arr.amt}}/{{arr.printCopies}}</p>					
														</div>
														<div style="float:left;width:38%;margin-left:2%;margin-top: -10%;">
															<p ></p>
																<div style="max-width: 100%;height: auto;width:60%;text-align: center;" id="qr{{$index}}"></div>
															<p style="font-size:13px;margin-top:2%;margin-right:18px;text-align:center">{{arr.grnEntryDate | date:'dd-MM-yy'}}</p>						
														</div>
													</div>
												</div>
											</div>
									</div>
									<div>
											<button class="btn btn-success btn-rounded w-md waves-effect waves-light" style="float: right;" ng-hide="printButton" ng-click="printCode()"> Print </button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
	





		</div>
	</div>
</div>