<style>
	input:focus {
		border: 1px solid grey !important;
	}
</style>

<div class="content-page">
	<!-- Start content -->
	<div class="content">
		<div class="container-fluid">

			<div class="row">
				<div class="col-12">
					<div class="page-title-box">
						<h4 class="page-title float-left"> Role To User </h4>
						<div class="clearfix"></div>
					</div>
				</div>
			</div>
			<!-- end row -->
			<div class="row">
				<div class="col-12">
					<div class="page-title-box">
						<div class="row">
							<div class="col-md-12">
								<div class="card-box">

									<h4 class="m-t-0 header-title">Add Role to Users:</h4>

									<div class="row">
										<div class="col-md-12 text-center">
											<label class="control-label">Select Role:<span
													style="color: red;">*</span></label>
										</div>
									</div>
									<div class="row">
										<div class="col-md-12" style="margin-left:40%; margin-top: 1%;">
											<select class="form-control" style="width:20%; height: 100%;"
												id="selectRole" ng-model="selectRole"
												ng-change="vm.changeRole(selectRole);">
												<option value="selectRole">Select Role</option>
												<option ng-repeat="opts in vm.rolesList track by $index"
													value="{{opts}}">{{opts.roleName}} </option>
											</select>
										</div>
									</div>

									<div class="row" style="width: 65%;margin: 15px auto;">
											<div class="col-sm-5">
												<table class="table table-bordered">
													<thead>
														<tr class="customTable">
															<th>#</td>
															<th>User Id</td>
														</tr>
													</thead>
													<tbody>
														<tr ng-repeat = "arr in vm.usersWithoutRoles track by $index">
															<td><input type="checkbox" ng-checked="arr.select" ng-click="arr.select = !arr.select" ng-disabled="arr.id == '001'"></td>
															<td>{{arr.id}}</td>
														</tr>
													</tbody>
												</table>
											</div>
											<div class="col-sm-2" style="text-align:center;padding: 0 5.6%;">
												<button class="btn btn-success waves-effect waves-light" ng-click="vm.assignRoleToMultipleUsers();"><i class="fa fa-share" aria-hidden="true"></i></button><br/><br/>
												<button class="btn btn-info waves-effect waves-light" style="transform: scaleY(-1);" ng-click="vm.removeRoleOfMultipleUsers();"><i class="fa fa-reply" aria-hidden="true"></i></button>
											</div>
											<div class="col-sm-5">
												<table class="table table-bordered">
													<thead>
														<tr class="customTable">
															<th>#</td>
															<th>User Id</td>
														</tr>
													</thead>
													<tbody>
														<tr ng-repeat = "arr in vm.usersWithRoles track by $index">
															<td><input type="checkbox" ng-checked="arr.select" ng-click="arr.select = !arr.select" ng-disabled="arr.id == '001'"></td>
															<td>{{arr.id}}</td>
														</tr>
													</tbody>
												</table>
											</div>
										</div>



								</div>
							</div>
						</div>
					</div>
				</div>
			</div>








		</div>
	</div>
</div>